* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  background-color: #f5e8e8;
}

.leftcolumn {
  float: left;
  width: 75%;
}
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}
.fakeimg {
  width: 100%;
  padding: 20px;
  height: inherit;
  border: 2px solid grey;
}
.error {
  display: inline-block;
  font-size: 40px;
  font-family: "Unna", serif;
}
.errorcode {
  text-align: center;
}

.spinner {
  text-align: center;
}
.spinner-display {
  display: inline-block;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 1px 1px 1px 1px grey;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
.author {
  font-family: "Ranga", cursive;
  font-weight: 700;
}
.post {
  font-family: "Cormorant Garamond", serif;
}

.title {
  font-family: "Philosopher", sans-serif;
  color: #301862;
}
.bottom-line {
  display: flex;
}
.read {
  flex: 6;
}
.vote-area {
  flex: 1;
  display: flex;
}
.vote-display {
  padding: 3px;
  margin-top: 2px;
  color: red;
}
.post-votes {
  font-size: 20px;
  padding: 3px;
  color: rgb(156, 7, 7);
}
